.navigation {
    background-color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    color: #373A57
}
.inline-block {
    background-color: fff;
    display: inline-block;
    vertical-align: middle;
    background-color: none;
}
.logo {
    
    width: 20%;
    padding: 1%;
    text-align: center;
    }
nav {
    width: 72%;
    padding: 1%;
    text-align: right;
    background-color: #fff;
}
ul {
    width: 50%;
    margin-left: auto;
}
li {
    padding-left:20px;
    padding-right: 30px;
}
/* Grid CSS */
#heroGrid {
    color: #373A57;
    background-color: none;
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-columns: 75% 25%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
      "featuredProduct secondaryProduct"
      "CTA secondaryProduct";
}
  #featuredProduct {
      display: block;
    grid-area: featuredProduct;    
  }
  #secondaryProduct {
    grid-area: secondaryProduct;
    cursor: pointer;
}

#CTA {
    grid-area: CTA;
    align-content: flex-start;
    justify-content: start;
    cursor: pointer;
  }
.CTA-button {
    width: 215px;
  height: 58px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0px 60px 0 1px;
  padding: 1.5px 1.5px;
  border-radius: 9px;
  -webkit-backdrop-filter: blur(42px);
  backdrop-filter: blur(42px);
  border-style: solid;
  border-width: 1.5px;
  border-image-source: radial-gradient(circle at 0 0, #e64467, rgba(255, 255, 255, 0));
  border-image-slice: 1;
  background-image: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)), radial-gradient(circle at 0 0, rgba(230, 68, 103, 0.4), rgba(230, 68, 103, 0)), radial-gradient(circle at 0 0, rgba(255, 114, 11, 0.4), rgba(255, 114, 11, 0)), linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), radial-gradient(circle at 0 0, #e64467, rgba(255, 255, 255, 0));
  background-origin: border-box;
  background-clip: content-box, content-box, content-box, content-box, border-box;
}
  .heroGridArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
  }
  #reveal {
    visibility: hidden;
    border-bottom: 5px solid #ff6200;
    position: absolute;
    top: 130px;
    left: 0px;
    z-index: 100;
    padding: 0%
  }
  lottie-player {
      transform: rotate(-90deg);
      margin-top: 90px;
  }

section .heroImg {
    height: 600px;
    padding: 25px;
    }
.content {
    display:flex;
    flex-direction: row;
    width: 900px;
    margin: 0 auto;
}
.dumbPic {
    padding-right: 65px;
}
.resumeButton {
    background-color: #373A57;
    border-radius: 30px;
    margin-left: 875px;
    padding: 15px;
    color: white;
    font-family: Montserrat;
}
footer {
    background-color: #fff;
    padding: 1%;
    margin: 0 auto;
    font-size: 20px;
    font-family: Montserrat;
}
ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}
.mySkills {
    padding: 30px
}
.flexContainer {
    display:flex;
    flex-direction: row;
}
.skillItems {
    text-align: center;
    justify-content: space-around;
}
h1 {
    font-size: 60px;
    font-family: PeachyKeenJF;
    margin: 75px, 0px, 75px,0px;
}
h2 {
    font-size: 30px;
    font-family: PeachyKeenJF;
    margin: 75px, 0px, 75px,0px;
}
p { 
    font-family: Montserrat;
    font-size: 18px;
}
h3 {
    font-size: 24px;
    font-family: Montserrat;
}
.allProjects {
    text-align: center;
    border-style: solid;
    border-color: #373A57;
    border-radius: 30px;
    padding: 15px;
    width: 350px;
    margin: auto;
    margin-top: 20px;
}
.workGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 45% 55%;
    grid-template-areas: "case1_image case1_text"
    "case2_image case2_text"
    "case3_image case3_text";
    background-color: #828282;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 15px;
    border-radius: 30px;
    color: #000
    }
.workGrid img {
    width: 350px;
    border-radius: 30px;
}
.case1_image {
    grid-area: case1_image;
    padding: 20px;
    justify-self: center;
    align-self: center;
}
.case2_image {
    grid-area: case2_image;
    padding: 20px;
    justify-self: center;
    align-self: center;
}
.case3_image {
    grid-area: case3_image;
    padding: 20px;
    justify-self: center;
    align-self: center;
}
.case1_text {
    grid-area: case1_text;
    align-self: center;
}
.case2_text {
    grid-area: case2_text;
    align-self: center;
}
.case3_text {
    grid-area: case3_text;
    align-self: center;
}
.workGrid button {
    background-color: #373A57;
    border-radius: 30px;
    padding: 15px;
    color: white;
    font-family: Montserrat;
}
@media only screen and (max-width: 600px){
    .flexContainer {
        display: flex;
        flex-direction: column;
        
    }
    .skillItems {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .workGrid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "case1_image"
        "case1_text"
        "case2_image" 
        "case2_text"
        "case3_image" 
        "case3_text";
        background-color: #828282;
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        padding: 15px;
        border-radius: 30px;
        color: #000;
       text-align: center;
        }
        
}